---
import LinkButton from "./LinkButton.astro";

import Python from "./icons/Python.astro";
import MongoDB from "./icons/MongoDB.astro";
import Scrum from "./icons/Scrum.astro";

import { getRelativeLocaleUrl } from "astro:i18n";
import { useTranslations } from "../i18n/utils";
import { languageList } from "../i18n/ui";
import LanguageToggle from "../components/LanguageToggle.astro";
type Lang = keyof typeof languageList;

const currentLang = (Astro.currentLocale ?? "es") as Lang;
const translateLabels = useTranslations(currentLang);

import FindCertificate from "./icons/FindCertificate.astro";

const TAGS = {
  Python: {
    name: "Python",
    class: "bg-black text-white",
    icon: Python,
  },
  MongoDB: {
    name: "MongoDB",
    class: "bg-black text-white",
    icon: MongoDB,
  },
  Scrum: {
    name: "Scrum",
    class: "bg-black text-white",
    icon: Scrum,
  },
};

const PROJECTS = [
  {
    title: translateLabels("certificates.course1.title"),
    description:
      translateLabels("certificates.course1.description"),
    link: "https://drive.google.com/file/d/1X7ILoWnSUNbF4vQV-lNfUguMXGbKm99q/view?usp=sharing",
    image: "/certificates/scrumcertificate.webp",
    tags: [TAGS.Scrum],
  },
  {
    title: translateLabels("certificates.course2.title"),
    description:
      translateLabels("certificates.course2.description"),
    link: "https://coursera.org/share/30ed702f2e47ded827017a8f029b3ef4",
    image: "/certificates/pythoncertificate.webp",
    tags: [TAGS.Python],
  },
  {
    title:
      translateLabels("certificates.course3.title"),
    description:
      translateLabels("certificates.course3.description"),
    link: "https://ti-user-certificates.s3.amazonaws.com/ae62dcd7-abdc-4e90-a570-83eccba49043/14e2dcae-f571-4af5-9de1-02fb05014096-sebastian-uriel-39b0ab6d-3024-4d43-9f8d-593c4034a1fc-certificate.pdf",
    image: "/certificates/mongodbcertificate.webp",
    tags: [TAGS.MongoDB],
  },
  {
    title: translateLabels("certificates.course4.title"),
    description:
      translateLabels("certificates.course4.description"),
    link: "https://ti-user-certificates.s3.amazonaws.com/ae62dcd7-abdc-4e90-a570-83eccba49043/14e2dcae-f571-4af5-9de1-02fb05014096-sebastian-uriel-72561f54-ad2d-44ee-9da0-a2d961da5dad-certificate.pdf",
    image: "/certificates/mongodbphpcertificate.webp",
    tags: [TAGS.MongoDB, TAGS.Python],
  },

  // Agrega más proyectos según sea necesario
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div
            class="relative flex flex-col items-center col-span-6 row-span-5 gap-8
             transition duration-500 ease-in-out shadow-xl
             overflow-hidden rounded-xl
             md:group-hover:-translate-y-1 md:group-hover:shadow-2xl
             lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
          >
            <img
              alt={title}
              class="object-cover object-top w-full h-56 sm:h-full
               transition duration-500 md:group-hover:scale-105"
              loading="eager"
              src={image}
            />
          </div>
        </div>
        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3
            class="text-lg
 font-bold text-gray-800 dark:text-gray-100"
          >
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex gap-4 mt-4 flex-wrap lg:flex-nowrap ">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {link && (
                <LinkButton href={link}>
                  <FindCertificate class="size-6" />
                  {translateLabels("certificates.button")}
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
