---
import HTML5 from "./icons/HTML5.astro";
import JavaScript from "./icons/JavaScript.astro";
import CSS from "./icons/CSS.astro";
import Boostrap from "./icons/Boostrap.astro";
import Netlify from "./icons/Netlify.astro";
import LinkButton from "./LinkButton.astro";
import Link from "./icons/Link.astro";
import GitHub from "./icons/GitHub.astro";

const TAGS = {
  HTML5: {
    name: "HTML5",
    class: "bg-black text-white",
    icon: HTML5,
  },
  CSS: {
    name: "CSS",
    class: "bg-black text-white",
    icon: CSS,
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-black text-white",
    icon: JavaScript,
  },
  Boostrap: {
    name: "Boostrap",
    class: "bg-black text-white",
    icon: Boostrap,
  },
  Netlify: {
    name: "Netlify",
    class: "bg-black text-white",
    icon: Netlify,
  },
};

const PROJECTS = [
  {
    title: "MediAR - Landing Page",
    description:
      "Landing page responsiva desarrollada con HTML, CSS, JavaScript y Bootstrap, con animaciones, formularios conectados a Excel Online mediante App Script y un sistema de mapeado para ubicar el instituto.",
    link: "https://mediarofficial.netlify.app/",
    github: "https://github.com/SurgeonSim-MediAR/IHC_MediAR_LandingPage",
    image: "/projects/project1.webp",
    tags: [TAGS.HTML5, TAGS.CSS, TAGS.JavaScript, TAGS.Boostrap, TAGS.Netlify],
  },
  // Agrega más proyectos según sea necesario
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex gap-4 mt-4 flex-wrap lg:flex-nowrap">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
                  
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>

